* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubantu', sans-serif;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

#h4 {
    color: rgb(244, 236, 236);
}

header {
    background: url(https://wallpapercave.com/wp/wp6350571.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.nav-area {
    float: right;
    list-style: none;
    margin: 0% 8%;
}

.nav-area li {
    display: inline-block;
}

.nav-area li a {
    color: rgb(32, 0, 90);
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 22px;

    font-weight: 1000;
    text-transform: uppercase;
}

.nav-area li a:hover {
    background: #fff;
    color: #eeecec;

}

.logo {
    float: left;
}

.logo img {
    width: 15%;
    padding: 160px 80px;
    border-radius: 30%;
}

.welcome-text {
    position: absolute;
    width: 700px;
    height: 400px;
    color: #fff;

    margin: 14% 17%;
    text-align: center;
}

.welcome-text h1 {
    text-align: center;
    color: rgb(28, 5, 83);

    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text h1 span {
    color: #00fecb;
}

.welcome-text h4 {
    text-align: center;
    margin-top: 20px;
}


.welcome-text a {
    border: 1px solid rgb(250, 247, 247);
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 25px;
    display: inline-block;
    color: #fff;
}

.welcome-text a:hover {
    background: #fff;
    color: rgb(253, 250, 250);
}


/resposive/

@media (max-width:600px) {
    .wrapper {
        width: 100%;
    }

    .logo {
        float: none;
        width: 50%;
        text-align: center;
        margin: auto;
    }

    img {
        width: 0px;
    }

    .nav-area {
        float: none;
        margin-top: 0;
    }

    .nav-area li a {
        padding: 5px;
        font-size: 11px;
    }

    .nav-area {
        text-align: center;
    }

    .welcome-text {
        width: 100%;
        height: auto;
        margin: 30% 0;
    }

    .welcome-text h1 {
        font-size: 50px;
    }
}
